.image {
  width: 100%;
  background-image: url('./image/image-primary.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--themeBackgroundColorDefault);
}

.theme_color_project-default .image {
  background-image: url('./image/image-inverse.svg');
}
