@import "../../../tools.scss";

.layout__container {
  display: grid;

  &_align {
    &_center {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_size {
    &_s {
      max-width: $widthS;
    }

    &_m {
      max-width: $widthM;
    }
  }
}

