@import "../../../tools.scss";

.layout__container {
  &_align {
    &_center {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_space-v {
    &_xxxxl {
      padding-top: var(--themeSpaceXXXXL);
      padding-bottom: var(--themeSpaceXXXXL);
    }
    &_xxxxxl {
      padding-top: var(--themeSpaceXXXXXL);
      padding-bottom: var(--themeSpaceXXXXXL);
    }
  }

  &_indent-b {
    &_xxl {
      margin-bottom: var(--themeSpaceXXL);
    }
    &_xxxxl {
      margin-bottom: var(--themeSpaceXXXXL);
    }
  }

  &_size {
    &_s {
      max-width: $widthS;
    }

    &_m {
      max-width: $widthM;
    }
  }
}

