.subscription {
  min-height: 408px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@import "./elements/title.scss";
@import "./elements/info.scss";
@import "./elements/footer.scss";
@import "./elements/advantage.scss";
@import "./elements/advantages.scss";
