.collect {
  min-height: 380px;
  display: flex;
  flex-direction: column;

  .image {
    height: 160px;
    background-color: var(--themeColorBorder);
  }
}

@import "./elements/image.scss";
@import "./elements/footer.scss";
