.collect {
  min-height: 380px;
  display: flex;
  flex-direction: column;
}

@import "./elements/image.scss";
@import "./elements/title.scss";
@import "./elements/done.scss";
@import "./elements/progress.scss";
@import "./elements/footer.scss";
