.onoffswitch__button {
  position: absolute;
  height: 24px;
  width: 24px;
  transition: right .2s ease-out;
  top: 2px;
  background-color: var(--themeColorBorder);
  right: 2px;

  &_status {
    &_off {
      right: 66px;
    }
  }
}
