.brand-logo {
  &_name {
    &_yota {
      background-color: #00c0f8;
    }

    &_megafon {
      background-color: #33c778;
    }

    &_kcell {
      background-color: #692b96;
    }

    &_mts {
      background-color: #f70000;
    }
  }
  &_size {
    &_xxs {
      width: 24px;
      height: 24px;
    }
    &_xs {
      width: 32px;
      height: 32px;
    }
    &_s {
      width: 40px;
      height: 40px;
    }
    &_m {
      width: 60px;
      height: 60px;
    }
    &_l {
      width: 80px;
      height: 80px;
    }
  }
}
