.placeholder {
  background-color: var(--themeTextColorDefault);
  &_size {
    &_m {
      width: 72px;
      height: 72px;
      margin-top: var(--themeSpaceM);
      margin-bottom: var(--themeSpaceM);
    }
  }
}
