.list__item {
  display: flex;
  width: 100%;

  &_border {
    &_bottom {
      border-bottom: 3px solid var(--themeColorBorder);
      &:last-child {
        border-bottom: none;
      }
    }

    &_top {
      border-top: 3px solid var(--themeColorBorder);
    }
  }

  &_distribute {
    &_between {
      justify-content: space-between;
    }
  }

  &_vertical-align {
    &_center {
      align-items: center;
    }
  }

  &_indent-t {
    &_m {
      margin-top: var(--themeSpaceM);
    }
  }

  &_indent-b {
    &_s {
      margin-bottom: var(--themeSpaceS);
    }

    &_m {
      margin-bottom: var(--themeSpaceM);
    }

    &_l {
      margin-bottom: var(--themeSpaceL);
    }

    &_xl {
      margin-bottom: var(--themeSpaceXL);
    }
  }

  &_space-b {
    &_s {
      padding-bottom: var(--themeSpaceS);
    }
  }

  &_space-a {
    &_l {
      padding: var(--themeSpaceL);
    }
  }
}
