@import "../../tools.scss";

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--themeBackgroundColorDefault);
  padding: var(--themeSpaceXXXL) var(--themeGap);
}
@import "./elements/content.scss";
