@import "../../tools.scss";

.footer {
  display: flex;
  justify-content: space-between;
  max-width: $widthM;
  background-color: var(--themeBackgroundColorDefault);
  padding-top: var(--themeSpaceXXXL);
  padding-bottom: var(--themeSpaceXXXL);
}
