.progress-bar__value {
  height: 100%;
  width: 0;
  &_width {
    &_two-thirds {
      width: 66%;
    }
    &_one-thirds {
      width: 33%;
    }
    &_half {
      width: 50%;
    }
  }
  &_color {
    &_blue {
      background-color: #007bff;
    }
  }
}
