.text__word {
  height: var(--textWordHeight);
  background-color: var(--wordColor);
  margin-top: var(--marginTop);
  margin-bottom: var(--marginBottom);
  &_width {
    &_s {
      width: var(--textWordWidthS);
    }
    &_m {
      width: var(--textWordWidthM);
    }
    &_l {
      width: var(--textWordWidthL);
    }
  }
}
