.event {
  box-sizing: border-box;
  min-height: 333px;
  display: flex;
  flex-direction: column;
}
@import "./elements/preview.scss";
@import "./elements/speaker.scss";
@import "./elements/title.scss";
@import "./elements/description.scss";
@import "./elements/content.scss";
@import "./elements/footer.scss";
