@import "../../../tools.scss";

.grid__fraction {
  height: 100%;
  @media (max-width: $widthS) {
    &_xs-col {
      &_3 {
        grid-column-start: span 3;
      }
    }
  }
  @media (min-width: $widthS) {
    &_m-col {
      &_2 {
        grid-column-start: span 2;
      }

      &_3 {
        grid-column-start: span 3;
      }

      &_4 {
        grid-column-start: span 4;
      }

      &_5 {
        grid-column-start: span 5;
      }

      &_8 {
        grid-column-start: span 8;
      }
    }
  }
}
