.informer {
  background-color: var(--themeBackgroundColorDefault);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@import "./elements/action.scss";
@import "./elements/content.scss";
