.text {
  display: flex;
  flex-wrap: wrap;
  &_align {
    &_center {
      justify-content: center;
    }
  }

  &_size {
    &_s {
      --textWordHeight: 7px;
      --textWordWidthS: 20px;
      --textWordWidthM: 48px;
      --textWordWidthL: 100px;
      --lineHeight: var(--themeSizeIntervalS);
      --marginTop: 5px;
      --marginBottom: 6px;
    }

    &_m {
      --textWordHeight: 8px;
      --textWordWidthS: 24px;
      --textWordWidthM: 56px;
      --textWordWidthL: 114px;
      --lineHeight: var(--themeSizeIntervalM);
      --marginTop: 6px;
      --marginBottom: 7px;
    }

    &_l {
      --textWordHeight: 10px;
      --textWordWidthS: 28px;
      --textWordWidthM: 68px;
      --textWordWidthL: 138px;
      --lineHeight: var(--themeSizeIntervalL);
      --marginTop: 7px;
      --marginBottom: 8px;
    }

    &_xl {
      --textWordHeight: 11px;
      --textWordWidthS: 32px;
      --textWordWidthM: 74px;
      --textWordWidthL: 154px;
      --lineHeight: var(--themeSizeIntervalXL);
      --marginTop: 8px;
      --marginBottom: 9px;
    }

    &_xxl {
      --textWordHeight: 13px;
      --textWordWidthS: 36px;
      --textWordWidthM: 88px;
      --textWordWidthL: 184px;
      --lineHeight: var(--themeSizeIntervalXXL);
      --marginTop: 10px;
      --marginBottom: 11px;
    }
  }

  &_type {
    &_h1 {
      //margin: 15px 0 21px; //В описании используется этот размер, но ни где он не совпал с макетом
      margin: 13px 0 23px;
    }

    &_h2 {
      //margin: 48px 0 20px; //В описании используется этот размер, но ни где он не совпал с макетом
      margin: 47px 0 20px;
    }

    &_h3 {
      margin: 43px 0 0; //В описании используется этот размер, но ни где он не совпал с макетом
      //margin: 40px 0 3px;
    }

    &_p {
      //margin: 15px 0 21px; //В описании используется этот размер, но ни где он не совпал с макетом
      margin: 16px 0 20px;
    }
  }

  &_view {
    &_primary {
      --wordColor: var(--themeTextColorDefault);
    }

    &_secondary {
      --wordColor: var(--themeTextColorSecondary);
    }

    &_ghost {
      --wordColor: var(--themeTextColorAdditional);
    }

    &_link {
      --wordColor: var(--themeTextColorLink);
    }
  }
  &_indent-b {
    &_s {
      margin-bottom: var(--themeSpaceS);
    }
    &_xs {
      margin-bottom: var(--themeSpaceXS);
    }
    &_xl {
      margin-bottom: var(--themeSpaceXL);
    }
  }
  &_indent-t {
    &_xs {
      margin-top: var(--themeSpaceXS);
    }
  }
}

@import "./elements/word.scss";
