* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

@import "./theme/theme.scss";
@import "./layout/layout.scss";
@import "./card/card.scss";
@import "./form/form.scss";
@import "./list/list.scss";
@import "./header/header.scss";
@import "./onoffswitch/onoffswitch.scss";
@import "./section/section.scss";
@import "./grid/grid.scss";
@import "./payment/payment.scss";
@import "./text/text.scss";
@import "./input/input.scss";
@import "./button/button.scss";
@import "./footer/footer.scss";
@import "./informer/informer.scss";
@import "./warning/warning.scss";
@import "./placeholder/placeholder.scss";
@import "./image/image.scss";
@import "./list/list.scss";
@import "./icon-plus/icon-plus.scss";
@import "./history/history.scss";
@import "./brand-logo/brand-logo.scss";
@import "./e-accordion/e-accordion.scss";
@import "./commercial/commercial.scss";
@import "./product/product.scss";
@import "./cover/cover.scss";
@import "./collect/collect.scss";
@import "./articles/articles.scss";
@import "./offer/offer.scss";
@import "./subscription/subscription.scss";
@import "./avatar/avatar.scss";
@import "./event/event.scss";
