.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--themeBackgroundColorDefault);
  padding: var(--themeSpaceXXXL) var(--themeGap);
}

@import "./elements/logo.scss";
@import "./elements/content.scss";
